<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <title>404 Error Page | CodingNepal</title>
   <link rel="stylesheet" href="/stylesheet/style.css">
   <!-- sweet alert  -->
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
   <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
</head>

<body>
   <div id="error-page">
      <div class="content">
         <h2 class="header" data-text="404">
            404
         </h2>
         <h4 data-text="Opps! Page not found">
            Opps! Page not found
         </h4>
         <p>
            Sorry, the page you're looking for doesn't exist. If you think something is broken, report a problem.
         </p>
         <div class="btns">
            <a href="">return home</a>
            <!-- <a href="">report problem</a> -->
         </div>
      </div>
   </div>
</body>
<script>
   setTimeout(function () {
      Swal.fire({
         position: "top",
         title: 'Do you want to access dashboard?',
         text: "",
         icon: 'question',
         showCancelButton: false,
         confirmButtonColor: '#3085d6',
         cancelButtonColor: '#d33',
         confirmButtonText: 'Yes, Sure!'
      }).then((result) => {
         if (result.isConfirmed) {
            setTimeout(() => {
               location.href = "/dashboard";
            }, 200)
         }
      })
   }, 1500)
</script>

</html>