<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
          <div class="grid-row">
            <div class="colmun colmun-left">
              <img src="/assets/images/image-left.png" alt="image-left">
              <h1 class="px-spc-b-20">We can't find the page you are looking for.</h1>
              <span class="px-spc-b-20">This page has been relocated or removed.</span>
      
              <button class="go-home"><i class="fa fa-home"></i> Go Home</button>
            </div>
            <div class="colmun colmun-right">
              <img src="/assets/images/right-shape.png" alt="right-shape">
            </div>
          </div>
        </div>
      </div>
</body>
</html>