<%- include("menu") -%>

    <div class="loader">
        <img src="/assets/images/twitter-rise.gif" style="border-radius: 50%;" alt="Loading" />
    </div>
    <%- include("add_comment") -%>
        <!-- main panel  -->
        <div class="col-lg-6 col-md-6 col-sm-8 col-12 px-0 border">
            <div class="inner-main home">
                <div class="blur-ui p-3 pb-0">
                    <h4 class="text-black">Home</h4>
                    <ul class="nav nav-tabs">
                        <li class="nav-item w-50 text-center all-center">
                            <a class="nav-link w-100 fw-600 active" data-bs-toggle="tab" href="#for-you" id="forYou"
                                onclick="forYouDataLoad()">
                                <span>
                                    For you
                                </span>

                            </a>
                        </li>
                        <li class="nav-item w-50 text-center all-center">
                            <a class="nav-link w-100 fw-600 " data-bs-toggle="tab" href="#following-home"
                                id="yourFollowing" onclick="followingTab(limit)">
                                <span>
                                    Following
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="all-data">
                    <div class="tab-content">
                        <div id="for-you" class="tab-pane active">
                            <div class="tweet-container all-center flex-column" id="forYouPart">

                            </div>
                        </div>
                        <div id="following-home" class="tab-pane">
                            <div class="tweet-container all-center flex-column " id="followingShowData">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="/javascripts/dashboard.js"></script>

        <%- include("search") -%>