<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

    <!-- sweet alert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>

    <link rel="stylesheet" href="/stylesheets/forgetPassword.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Hello, world!</title>
</head>

<body>
    <div class="modal fade " id="forgetPasswordModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " style="border: none; ">
                    <h5 class="modal-title w-100 text-center" id="exampleModalLabel"><i class="fa-brands fa-twitter"
                            style=" color: rgb(29, 155, 240);font-size: 35px;"></i></h5>
                    <button type="button" class="btn-close me-4" aria-label="Close" style="font-size: 16px;"
                        onclick="redirectToLoginPage()"></button>
                </div>
                <div class="modal-body">
                    <div class="container one d-none" id="one">
                        <h1 style="font-size: 45px;">Find your Twitter account</h1>
                        <p>Enter the email associated with your account to change your password.</p>
                        <input type="text" name="user_mail" placeholder="Enter your email"
                            class="form-control py-2 px-1 rounded" id="mail">
                        <p id="mailWarning"></p>
                        <input type="submit" value="Next" id="forgetNextBtn1"
                            class="p-2 forgetNextBtn mt-3 mb-5 w-100 bg-blue rounded" onclick="showSecondStage()">
                    </div>
                    <div class="container second d-none" id="two">

                        <h1>We sent you a code</h1>
                        <p>Check your email to get your confirmation code. If you need to request a new code, go back
                            and reselect a confirmation.</p>
                        <input type="text" name="otp" id="otp" placeholder="Enter your code" value=""
                            class="w-100 form-control">
                        <p id="wrong-otp-warning"></p>
                        <input type="submit" value="Back" id="forgetNextBtn2"
                            class="p-2 w-100 rounded bg-blue forgetNextBtn mt-3 mb-5">
                    </div>
                    <div class="container three d-none" id="three">
                        <h1>Choose a new password</h1>
                        <p>Make sure your new password is 8 characters or more. Try including numbers, letters and
                            punctuation marks for a strong password. </p>
                        <input type="password" name="newPwd" id="newPwd" placeholder="Enter new password"
                            class="form-control">
                        <p id="newPwd_warning"></p>
                        <input type="password" name="confirmPwd" id="confirmPwd" placeholder="Confirm your password"
                            class="form-control">
                        <p id="confirmPwd_warning"></p>
                        <input type="submit" value="Change Password" id="forgetNextBtn3"
                            class="p-2 forgetNextBtn mt-3 mb-5 w-100">
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer" style="border: none; justify-content: center;">

        </div>
    </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>

        async function redirectToLoginPage() {
            await fetch("/user-login");
            location.assign("user-login")
        }
        var forgetBtn = document.getElementById("forgetBtn");
        var div1 = document.getElementById("one");
        var div2 = document.getElementById("two");
        var div3 = document.getElementById("three");
        var div4 = document.getElementById("four");
        var btn1 = document.getElementById("forgetNextBtn1");
        var btn2 = document.getElementById("forgetNextBtn2");
        var btn3 = document.getElementById("forgetNextBtn3");
        var btn4 = document.getElementById("forgetNextBtn4");
        var otp = document.getElementById("otp");
        var mail = document.getElementById("mail");
        var user_email = document.getElementById("user_email");
        var otpWarnPara = document.getElementById("wrong-otp-warning");
        var newPwd = document.getElementById("newPwd");
        var confirmPwd = document.getElementById("confirmPwd");
        var mailWarning = document.getElementById("mailWarning");
        var newPwd_warning = document.getElementById("newPwd_warning");
        var confirmPwd_warning = document.getElementById("confirmPwd_warning");
        var alphabet = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z", 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];
        var numbers = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];
        var punctuations = ['!', ' " ', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~'];

        var verificationArr = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", '!', ' " ', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~']



        window.addEventListener("load", (event) => {
            var myModal = new bootstrap.Modal(document.getElementById('forgetPasswordModal'), {
                keyboard: false,
                backdrop: false
            })
            myModal.show()
            div1.classList.remove("d-none");
            div1.classList.add("d-block");
        });
        async function showSecondStage() {
            var mail = document.getElementById("mail").value;
            if (mail == "") {
                mailWarning.innerHTML = "Please enter your mail.";
                mailWarning.style.color = "red";
            } else {
                var data = await fetch(`/forget/getMail?val=${mail}`);
                var data1 = await data.json();
                if (data1.mailExistStatus) {
                    div1.classList.remove("d-block");
                    div2.classList.remove("d-none");
                    div1.classList.add("d-none");
                    div2.classList.add("d-block");
                    mailWarning.innerHTML = ""
                    btn2.setAttribute("onclick", "showdiv1()");
                } else {
                    mailWarning.innerHTML = "Enter the valid email."
                    mailWarning.style.color = "red"
                }
                otp.addEventListener("input", () => {
                    if (otp.value == "") {
                        btn2.value = "Back";
                        btn2.setAttribute("onclick", "showdiv1()");

                    } else {
                        btn2.value = "Next";
                        btn2.setAttribute("onclick", "showdiv2()");
                    }
                })
            }

        }
        function showdiv1() {
            otpWarnPara.innerHTML = "";
            div1.classList.remove("d-none");
            div2.classList.remove("d-block");
            div1.classList.add("d-block");
            div2.classList.add("d-none");
        }


        async function showdiv2() {
            var otpVal = otp.value;
            await fetch(`/forget/getOtp?otp=${otpVal}`).then((response) => response.json())
                .then((data) => {
                    if (data.verified) {
                        div1.classList.remove("d-none");
                        div2.classList.remove("d-block");
                        div3.classList.remove("d-none");
                        div1.classList.add("d-none");
                        div2.classList.add("d-none");
                        div3.classList.add("d-block");

                        btn3.disabled = true;
                        if (btn3.disabled) {
                        }
                        newPwd.addEventListener("input", () => {
                            var newPwdVal = document.getElementById("newPwd").value;
                            if (newPwdVal.length < 8) {
                                newPwd_warning.innerHTML = "Your password needs to be at least 8 characters. Please enter a longer one.";
                                newPwd_warning.style.color = "red";
                            } else {
                                var newPwdArr = [];
                                for (let i = 0; i < newPwdVal.length; i++) {
                                    newPwdArr.push(newPwdVal[i]);
                                }
                                if (!newPwdArr.some(i => verificationArr.includes(i))) {
                                    newPwd_warning.innerHTML = "Please include number or punctuations to make your password stronger."
                                } else {
                                    newPwd_warning.innerHTML = ""
                                }
                            }
                        })
                        confirmPwd.addEventListener("input", () => {
                            if (newPwd.value != confirmPwd.value) {
                                confirmPwd_warning.innerHTML = "Passwords did not match.";
                                confirmPwd_warning.style.color = "red";
                            } else {
                                confirmPwd_warning.innerHTML = "";
                                btn3.disabled = false;
                                btn3.addEventListener("click", async () => {
                                    let resetPass = await fetch(`/forget/resetPassword?newPassword=${newPwd.value}&email=${hiddenMail.value}`);
                                    let ans = await resetPass.json();

                                    const ToastForget = Swal.mixin({
                                        toast: true,
                                        position: 'top',
                                        showConfirmButton: false,
                                        timer: 2000,
                                        timerProgressBar: true,
                                        didOpen: (toast) => {
                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                        }
                                    })

                                    if (ans) {
                                        ToastForget.fire({
                                            icon: 'success',
                                            title: 'Password updated successfully',
                                        })
                                        await setTimeout(() => {
                                            location.href = "/user-login";
                                        }, 2000)
                                    }

                                })
                            }
                        })
                    } else {
                        div1.classList.remove("d-block");
                        div2.classList.remove("d-none");
                        div3.classList.remove("d-none");
                        div1.classList.add("d-none");
                        div2.classList.add("d-block");
                        div3.classList.add("d-none");
                        otpWarnPara.innerHTML = "Enter the correct otp or else go back to get another mail";
                        otpWarnPara.style.color = "red";
                        document.getElementById("otp").value = "";
                        btn2.value = "Back";
                        btn2.setAttribute("onclick", "showdiv1()");
                    }
                })
        }
    </script>

</body>

</html>