<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>Twitter | Home</title>

</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="row h-100">

                <!-- left panel (MENU)  -->
                <div class="col-3 left">
                    <div class="inner-menu h-100">
                        <ul class="list-unstyled menu-ul">
                            <li>
                                <a href="#" class="menu-link">
                                    <i class="fa-brands fa-twitter text-blue logo-icon"></i>
                                </a>
                            </li>
                            <li class="link-hover">
                                <a href="" class="menu-link active">
                                    <i class="fa-solid fa-house link-icon "></i>
                                    <span>Home</span>
                                </a>
                            </li>
                            <li class="link-hover">
                                <a href="" class="menu-link">
                                    <i class="fa-regular fa-bell link-icon"></i>
                                    <span>Notifications</span>
                                </a>
                            </li>
                            <li class="link-hover">
                                <a href="" class="menu-link">
                                    <i class="fa-regular fa-user link-icon"></i>
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li class="link-hover">
                                <a href="" class="menu-link">
                                    <i class="fa-solid fa-gear link-icon"></i>
                                    <span>Settings</span>
                                </a>
                            </li>

                            <!-- tweet Button -->
                            <li class="">
                                <a href=""
                                    class="menu-link bg-blue text-light text-center btn rounded-pill w-100 btn-tweet">
                                    Tweet
                                </a>
                            </li>

                        </ul>

                        <div class="bottom-menu dropup" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <ul class="list-unstyled menu-ul">
                                <li class="link-hover w-100 all-center">
                                    <div class="all-center" id="status">
                                        
                                    </div>
                                    <span class="all-center flex-row">
                                        <i class="fa-solid fa-circle bottom-dots"></i>
                                        <i class="fa-solid fa-circle bottom-dots"></i>
                                        <i class="fa-solid fa-circle bottom-dots"></i>
                                    </span>
                                </li>
                            </ul>
                            <ul class="dropdown-menu">
                                <li>1</li>
                            </ul>
                        </div>
                    </div>
                </div>
            

                <script>
                   
async function demo(){
    let data1= await fetch("http://localhost:3008/profile");
   let data =await data1.json();
   // Converting received data to JSON
   console.log("data::::",data);
   let udata = ``;

   data.forEach(users => {
        udata +=`
                 <img src="${users.user_image}" alt="" class="bottom-pic me-2 border">
                 <div class="info">
                     <h6>${users.name}</h6>
                    <span class="text-gray">${users.user_name}</span>
                </div>
        
        `;
   });
   document.getElementById("status").innerHTML = udata;
}
demo();
                </script>
            </body>

            </html>                