<%- include("menu") -%>
    <link rel="stylesheet" href="/stylesheets/notification.css">

    <div class="col-6 p-2">
        <div class="noti text-dark mt-2 fw-bold fs-3">
            Notification
        </div>

        <div class="inner-main ">
            <div class="row justify-content-evenly lh-lg">
                <div class="col-4 text-center p-3">
                    <a href="#">All</a>
                    <!-- demo content -->
                    

                </div>
                <div class="col-4 text-center p-3">
                    <a href="#">Verified</a>
                </div>
                <div class="col-4 text-center p-3">
                    <a href="#">Mentions</a>
                </div>
                <div class="all-demo-content d-flex  ">
                    <div class="col-2 mt-3 ">
                        <i class="fa-brands fa-twitter text-blue  fs-3 mt-3 ml-2"></i>
                    </div>
                    <div class="col-10 mr-3 mt-3">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi ipsum temporibus culpa optio distinctio. Quibusdam, odit? Velit ratione cumque labore.
                    </div>
                </div>
            </div>

        </div>
    </div>

    <%- include("search") -%>