<%- include("menu") -%>

<link rel="stylesheet" href="/stylesheets/profile.css">
    <div class="col-6 p-2">
        <div class="inner-main">

            <div class="card" id="card">
                
                




            </div>


            <div class="card text-dark bg-white mb-3 mt-2">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <div class="d-flex">
                                <div class="comp-logo">
                                    <img src="/assets/images/logo-t.png" alt="">
                                </div>
                                <p class="bold ms-3">Username</p>
                                <p class="text-secondary ms-3">@username</p>
                                <p class="text-secondary ms-2">Posted</p>
                            </div>
                            <h6 class="card-title mt-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus
                                in voluptatum minima nisi ipsum</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="post-type ms-2 ">
                        <img src="" class="img-fluid " alt="">
                    </div>

                    <div class="activity d-flex mt-4 ms-5">
                        <p class="text-secondary"><i class="fa-regular fa-heart"></i> 88</p>

                        <p class="text-secondary ms-5"><i class="fa-solid fa-retweet"></i> 23</p>

                        <p class="text-secondary ms-5"><i class="fa-regular fa-comment"></i> 50</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script>

demo();
async function demo(){
    let data1= await fetch("http://localhost:3008/profile");
   let data =await data1.json();
   // Converting received data to JSON
   console.log("data::::",data);

//    let data1= await fetch("http://localhost:3008/profile");
//    let data =await data1.json();
//    // Converting received data to JSON
//    console.log("data::::",data);
    let udata = ``;

    data.forEach(users => {
        udata += `<div class="cover">
                    <img src="${users.cover_image}" alt="">
                </div>
                <div class="row ">
                    <div class="col">
                        <div class="dp">
                            <img src="${users.user_image}" class="card-img-left" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mt-2 ms-5 follow">
                            <p><a href="">Edit Profile</a></p>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="user-data">
                        
                        <label for="" class="bold">${users.name}</label>
                        <img src="./uploads/red_verified.png" alt="" height="20px" width="20px">
                        
                        <p class="text-secondary">@${users.user_name}</p>
                    </div>
                    <p class="card-text text-dark ">${users.bio}  <i class="fa-regular fa-face-laugh-beam"></i></p>


                    <div class="info d-flex ">
                        <p class="text-secondary ms-1"><i class="fa-solid fa-location-dot"></i> everywhere</p>

                        <p class="text-secondary ms-2"><i class="fa-solid fa-link"></i>
                        <p class="text-info">username.com</p>
                        </p>

                        <p class="text-secondary ms-2"><i class="fa-solid fa-cake-candles"></i> Date Of Birth:  ${users.birth_date.slice(0,10)}
                        </p>
                    </div>
                    <div class="join">
                        <p class="text-secondary"><i class="fa-solid fa-calendar-days"></i>   ${users.created_at.slice(0,10)}</p>
                    </div>

                    <div class="d-flex">
                        <p>
                            ${users.following}
                        <p class="ms-2">Following</p>

                        </p>
                        <p class="ms-3">
                            ${users.followers}
                        <p class="ms-2">Followers</p>

                        </p>
                    </div>

                </div>
                `;
    });
    
    document.getElementById("card").innerHTML = udata;

}
    </script>

    <%- include("search") -%>