<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <h1>modal in bt-4</h1>
        <button class="btn btn-secondary" data-target="#my-modal" data-toggle="modal">
            Open SignUp
        </button>
        <div class="modal" id="my-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-center">1 of 5</h3>
                        <button type="button" class="close" data-dismiss="modal"> &times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="reg-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title  font-weight-bold">Create your account</h3>
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="email" name="user_name" class="form-control"
                                                id="exampleFormControlInput1" />
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" name="user_email" class="form-control"
                                                id="exampleFormControlInput2" />
                                        </div>
                                        <div class="form-group">
                                            <label>Date of birth</label>
                                            <input type="email" name="user_dob" class="form-control"
                                                id="exampleFormControlInput2" />
                                        </div>
                                        <!-- or -->
                                        <div class="d-flex justify-content-around">
                                            <!-- new month -->
                                            <select name="user_birth_month" id="user_birth_month">

                                                <option value="jan">January</option>
                                                <option value="feb">February</option>
                                                <option value="march">March</option>
                                                <option value="apr">April</option>
                                                <option value="may">May</option>
                                                <option value="june">June</option>
                                                <option value="july">July</option>
                                                <option value="aug">August</option>
                                                <option value="sept">September</option>
                                                <option value="oct">October</option>
                                                <option value="nov">November</option>
                                                <option value="dec">December</option>
                                            </select>

                                            <!-- new -->
                                            <select name="user_birth_date" id="user_birth_date">
                                                <%for (let i=1 ; i<=31 ; i++) {%>

                                                    <option value="<%-i%>"><%-i%></option>
                                                    <%}%>
                                            </select>
                                            <!-- new year -->
                                            <select name="user_birth_year" id="user_birth_year">
                                                <%for (let i=1903 ; i<=2023 ; i++) {%>

                                                    <option value="<%-i%>"><%-i%></option>
                                                    <%}%>
                                            </select>
                                        </div>
                                    </div>
                                    <form action="/next" method="get">
                                        <button type="button"
                                            class="btn btn-secondary rounded mb-3 ml-2 mr-2 disabled ">Next</button>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>