<!-- right panel  offset-lg-0 offset-md-0 offset-sm-4-->
<div class="col-lg-3 col-md-3 col-sm-8 col-12 d-md-block d-sm-none d-none right" id="searchPage">
    <div class="inner-right h-100 w-100 ">
        <div class="search-box position-relative">
            <input type="search" class="rounded-pill w-100" placeholder="Search Twitter" oninput=search()
                id="searchInput">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
        <div class="mt-3 follow-right bg-gray p-2 border-radius-12 d-none" id="searchRes">
            <h5 class="mt-2 mb-3">Search result</h5>
            <div id="addHere">

            </div>
        </div>
        <div class="mt-3 follow-right bg-gray p-2 border-radius-12" onload="whoToFollow()">
            <h5 class="mt-2 mb-3">Who to follow</h5>
            <div id="whotofollow">

            </div>



            <a href="" class="p-2 fs-14 text-blue">Show more</a>
        </div>
        <div class="footer p-2 mt-2">
            <ul class="d-flex flex-wrap list-unstyled footer-link-container mb-0">
                <li>
                    <a href="https://twitter.com/en/tos" target="blank">Terms and Service</a>
                </li>
                <li>
                    <a href="https://twitter.com/en/privacy" target="blank">Privacy Policy</a>
                </li>
                <li>
                    <a href="https://help.twitter.com/en/rules-and-policies/twitter-cookies" target="blank">Cookie
                        Policy</a>
                </li>
                <li>
                    <a href="https://help.twitter.com/en/resources/accessibility" target="blank">Accessibility</a>
                </li>
                <li>
                    <a href="https://business.twitter.com/en/help/troubleshooting/how-twitter-ads-work.html?ref=web-twc-ao-gbl-adsinfo&utm_source=twc&utm_medium=web&utm_campaign=ao&utm_content=adsinfo"
                        target="blank">Ads info</a>
                </li>
                <li>
                    <a href="">More ...</a>
                </li>
            </ul>
            <div class="px-2 py-0">
                <a href="">@<span id="footer-year"></span> Twitter_clone, Inc.</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<img src="/public/assets/images/" alt="">



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script>

    function logout() {
        Swal.fire({
            title: 'Do you want to Logout?',
            text: "",
            position: "center",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Logout!'
        }).then((result) => {
            if (result.isConfirmed) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top',
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: 'Logout successfully',

                })
                setTimeout(() => {
                    location.href = "/user-logout";
                }, 2000)
            }
        })

    }
    //for print latest year
    document.querySelector("#footer-year").innerText = new Date().getFullYear();

    async function search() {

        var val = document.getElementById("searchInput").value;
        if (val) {
            document.querySelector("#searchRes").classList.remove("d-none");
        }
        else {
            document.querySelector("#searchRes").classList.add("d-none");
        }
        let data1 = await fetch(`/srch?val=${val}`)
        let data = await data1.json();
        let user_details = ``;
        console.log(data);
        for (let i = 0; i < data.length; i++) {
            user_details += `
    <div class="my-4 d-flex justify-content-between align-items-center w-100" id="${data[i].id}" onclick="getTargetProfile(this)" style="cursor: pointer;">
        <div class="d-flex">
            <img src="${data[i].user_image}" alt="" class="profile-size me-2 border">
            <div class="info" > 
                <h6>${data[i].name}</h6>
                <span class="text-gray">@${data[i].user_name}</span>
            </div>
        </div>
</div>
`
        }
        if (!val) {
            user_details = ``
        }
        document.getElementById("addHere").innerHTML = user_details;
    }
    async function getTargetProfile(e) {
        const save_req = await fetch(`/profile/user/search/?id=${e.id}`);
        const data = await save_req.json();
        location.href = `/profile/user/${e.id}`;
    }




    async function follow(follower_id, flag) {
        if (flag == 0) {
            await fetch(`/addfollow?followerId=${follower_id}&flag=${flag}`);
            document.getElementById(`f${follower_id}`).innerHTML = "Unfollow";
            document.getElementById(`f${follower_id}`).setAttribute("onclick", `follow(${follower_id},1)`);
            document.getElementById(`f${follower_id}`).style.background = "white";
            document.getElementById(`f${follower_id}`).style.color = "black";

        } else {
            Swal.fire({
                title: 'Do you want to Unfollow?',
                text: "",
                position: "center",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Unfollow!'
            }).then(async (result) => {
                if (result.isConfirmed) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top',
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })

                    Toast.fire({
                        icon: 'success',
                        title: 'Unfollow successfully',

                    })

                    await fetch(`/addfollow?followerId=${follower_id}&flag=${flag}`);
                    document.getElementById(`f${follower_id}`).innerHTML = "Follow";
                    document.getElementById(`f${follower_id}`).setAttribute("onclick", `follow(${follower_id},0)`);
                    document.getElementById(`f${follower_id}`).style.background = "black";
                    document.getElementById(`f${follower_id}`).style.color = "white";

                }
            })

        }

    }
    //follow
    let getFollowUser = async () => {

        let data = await fetch(`/follow`);

        let ans = await data.json();
        let fuser = [];

        let followers = ans.fuser;
        let unfollowers = ans.unfollowers;

        let max = 3;
        if (unfollowers.length <= 3) {
            max = unfollowers.length;

            for (let i = 0; i < max; i++) {
                fuser.push(unfollowers[i])
            }
        } else {
            for (let i = 0; i < max; i++) {
                fuser.push(unfollowers[Math.floor(Math.random() * (unfollowers.length))])
            }
        }

        let unfollowersIds = [];

        for (let x of unfollowers) {
            unfollowersIds.push(x.id)
        }
        let whoToFollowData = ""
        fuser.forEach(sql => {
            whoToFollowData += `
            <div class="my-4 d-flex justify-content-between align-items-center w-100">
                <div class="d-flex w-100">
                    <img src="${sql.user_image}" alt="" class="profile-size me-2 border">
                    <div class="info d-flex justify-content-between w-100">
                        <a href="/profile/user/${sql.id}" class="text-dark d-inline-block">
                            <h6>${sql.name}</h6>
                            <span class="text-gray">@${sql.user_name}</span>
                        </a>
                        <div class="mt-1 searchFollow">
                            ${(!unfollowersIds.includes(sql.id)) ? `<div id="f${sql.id}" onclick="follow('${sql.id}',1)" class="followButton btn btn-light rounded-pill px-3 border-dark" >Unfollow</div>` : `<div id="f${sql.id}" onclick="follow('${sql.id}',0)" class="followButton btn btn-dark rounded-pill px-3" >Follow</div>`}
                        </div>
                    </div>
                </div>               
            </div>`
        });

        document.querySelector("#whotofollow").innerHTML = whoToFollowData

    }

    getFollowUser();


    window.onload = async () => {

        //LOAD THE BOTTOM USER INFORMATION
        let userData = await fetch("/profile/getUserData");
        let ans = await userData.json();

        document.querySelector("#status img").setAttribute("src", ans.user_img);
        document.querySelector("#statusMobile").setAttribute("src", ans.user_img);
        document.querySelector("#tweetUserImg").setAttribute("src", ans.user_img);
        document.querySelector("#status h6").innerText = ans.name
        document.querySelector("#status span").innerText = ans.username
        document.querySelector("#userDataId").innerText = ans.username



        // RESPONSIVE SEARCH 
        var searchPageData = document.getElementById("searchPage").innerHTML;
        resizeSize();
        function resizeSize() {
            if (window.innerWidth <= 768) {
                document.getElementById("searchPageModalContent").innerHTML = searchPageData;
                document.getElementById("searchPage").innerHTML = "";
            } else {
                document.getElementById("searchPage").innerHTML = searchPageData;
                document.getElementById("searchPageModalContent").innerHTML = "";
            }
        }
        window.addEventListener("resize", () => {
            resizeSize();
        })
    }


</script>
</body>

</html>