
<!-- search Modal  -->
<div class="modal fade" id="searchPageModal" tabindex="-1" aria-labelledby="searchPageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content d-flex justify-content-center align-items-center p-3" id="searchPageModalContent">
           
        </div>
    </div>
</div>

<script>
// window.addEventListener("resize", ()=>{
//    checkSize();
// })

// checkSize();
// function checkSize(){
//     if(window.innerWidth <= 768){
//         // console.log(document.getElementById("searchPage").innerHTML);
//         document.getElementById("searchPageModalContent").innerHTML = search_page_data;
//         // document.getElementById("searchPage").innerHTML = "";
//     }else{
//         document.getElementById("searchPage").innerHTML = search_page_data;
//         // document.getElementById("searchPageModalContent").innerHTML = "";
//     }
// }
    // const ToastBlank = Swal.mixin({
    //     toast: true,
    //     position: 'top',
    //     showConfirmButton: false,
    //     timer: 2000,
    //     timerProgressBar: true,
    //     didOpen: (toast) => {
    //         toast.addEventListener('mouseenter', Swal.stopTimer)
    //         toast.addEventListener('mouseleave', Swal.resumeTimer)
    //     }
    // })
    // let addCommentImg = async () => {
    //     let userDataForComment = await fetch("/profile/getUserData");
    //     let comment_img = await userDataForComment.json();

    //     document.querySelector("#commentImg").setAttribute("src", comment_img.user_img);
    // }
    // addCommentImg()


</script>