<!-- right panel  -->
<div class="col-3 right">
    <div class="inner-right h-100 ">
        <div class="search-box position-relative">
            <input type="search" class="rounded-pill w-100" placeholder="Search Twitter" oninput=search()
                id="searchInput">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
        <div class="mt-3 follow-right bg-gray p-2 border-radius-12 d-none" id="searchRes">
            <h5 class="mt-2 mb-3">Search result</h5>
            <div id="addHere">

            </div>
        </div>
        <div class="mt-3 follow-right bg-gray p-2 border-radius-12" id="whotofolow" onload="whoToFollow()">
            <h5 class="mt-2 mb-3">Who to follow</h5>
            <div id="whotofollow">

            </div>



                    <a href="" class="p-2 fs-14 text-blue">Show more</a>
        </div>
        <div class="footer p-2 mt-2">
            <ul class="d-flex flex-wrap list-unstyled footer-link-container mb-0">
                <li>
                    <a href="https://twitter.com/en/tos" target="blank">Terms and Service</a>
                </li>
                <li>
                    <a href="https://twitter.com/en/privacy" target="blank">Privacy Policy</a>
                </li>
                <li>
                    <a href="https://help.twitter.com/en/rules-and-policies/twitter-cookies" target="blank">Cookie Policy</a>
                </li>
                <li>
                    <a href="https://help.twitter.com/en/resources/accessibility" target="blank">Accessibility</a>
                </li>
                <li>
                    <a href="https://business.twitter.com/en/help/troubleshooting/how-twitter-ads-work.html?ref=web-twc-ao-gbl-adsinfo&utm_source=twc&utm_medium=web&utm_campaign=ao&utm_content=adsinfo" target="blank">Ads info</a>
                </li>
                <li>
                    <a href="">More ...</a>
                </li>
            </ul>
            <div class="px-2 py-0">
                <a href="">@<span id="footer-year"></span> Twitter_clone, Inc.</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<img src="/public/assets/images/" alt="">



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script>

    function logout() {
        Swal.fire({
            title: 'Do you want to Logout?',
            text: "",
            position: "center",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Logout!'
        }).then((result) => {
            if (result.isConfirmed) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top',
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: 'Logout successfully',

                })
                setTimeout(() => {
                    location.href = "/user-logout";
                }, 2000)
            }
        })

    }
    //for print latest year
    document.querySelector("#footer-year").innerText = new Date().getFullYear();
    async function search() {

        var val = document.getElementById("searchInput").value;

        if (val == "") {
            document.querySelector("#searchRes").classList.add("d-none");
        } else {
            document.querySelector("#searchRes").classList.remove("d-none");
        }

        let data1 = await fetch(`/srch?val=${val}`)
        let data = await data1.json();
        let user_details = ``;
        for (let i = 0; i < data.length; i++) {
            user_details += `
<div class="my-4 d-flex justify-content-between align-items-center w-100" id="${data[i][0].id}" onclick="getTargetProfile(this)" style="cursor: pointer;">
        <div class="d-flex">
            <img src="${data[i][0].user_image}" alt="" class="profile-size me-2 border">
            <div class="info" > 
                <h6>${data[i][0].name}</h6>
                <span class="text-gray">@${data[i][0].user_name}</span>
            </div>
        </div>
</div>
`
        }
        if (!val) {
            user_details = ``
        }
        document.getElementById("addHere").innerHTML = user_details;
    }
    async function getTargetProfile(e) {
        // console.log(e.id);
        const save_req = await fetch(`/profile/user/search/?id=${e.id}`);
        const data = await save_req.json();
        location.href = `/profile/user/${e.id}`;
    }




    async function follow(follower_id, flag) {
        if (flag == 0) {
            // console.log("Unfollow");
            await fetch(`/addfollow?followerId=${follower_id}&flag=${flag}`);
            document.getElementById(`f${follower_id}`).innerHTML = "Unfollow";
            document.getElementById(`f${follower_id}`).setAttribute("onclick", `follow(${follower_id},1)`);
            document.getElementById(`f${follower_id}`).style.background = "white";
            document.getElementById(`f${follower_id}`).style.color = "black";

        } else {
            // console.log("Follow");

            await fetch(`/addfollow?followerId=${follower_id}&flag=${flag}`);
            document.getElementById(`f${follower_id}`).innerHTML = "Follow";
            document.getElementById(`f${follower_id}`).setAttribute("onclick", `follow(${follower_id},0)`);
            document.getElementById(`f${follower_id}`).style.background = "black";
            document.getElementById(`f${follower_id}`).style.color = "white";
        }

    }
    //follow
    let getFollowUser = async () => {

        let data = await fetch(`/getFollowUserData`);

        let ans = await data.json();
        let fuser = [];

        let followers = ans.fuser;
        let unfollowers = ans.unfollowers;
        
        for (let i = 0; i < 3; i++) {
            fuser.push(unfollowers[Math.floor(Math.random() * (unfollowers.length))])
        }
        let unfollowersIds = [];

        for (let x of unfollowers) {
            unfollowersIds.push(x.id)
        }
        let whoToFollowData = ""
        fuser.forEach(sql => {
            whoToFollowData += `
            <div class="my-4 d-flex justify-content-between align-items-center w-100">
                <div class="d-flex w-100">
                    <img src="${sql.user_image}" alt="" class="profile-size me-2 border">
                    <div class="info d-flex justify-content-between w-100">
                        <a href="/profile/user/${sql.id}" class="text-dark d-inline-block">
                            <h6>${sql.name}</h6>
                            <span class="text-gray">@${sql.user_name}</span>
                        </a>
                        <div class="mt-1">
                            ${(!unfollowersIds.includes(sql.id)) ? `<div id="f${sql.id}" onclick="follow('${sql.id}',1)" class="followButton btn btn-light rounded-pill px-3 border-dark" >Unfollow</div>` : `<div id="f${sql.id}" onclick="follow('${sql.id}',0)" class="followButton btn btn-dark rounded-pill px-3" >Follow</div>`}
                        </div>
                    </div>
                   
                </div>
               
            </div>`
        });

        document.querySelector("#whotofollow").innerHTML = whoToFollowData

    }

    getFollowUser();

</script>
</body>

</html>