<%- include("menu") -%>
<div class="col-lg-6 col-md-6 col-sm-8 col-12 px-0 home Setting-main">

    <div class="blur-ui p-3 pb-0">
        <h4 class="text-black ">Settings</h4>
        <div class="all-data">
            <div class="tab-content">
                <div id="for-settings" class="tab-pane active">
                    <div class="setting-container flex-column">
                        <div class="blur-ui p-3 pb-0">
                            
                            <div class="container light-style flex-grow-1 container-p-y">

                            
                                <div class="">
                                    <div class="list-group list-group-flush account-settings-links">
                                      <a class="list-group-item list-group-item-action" data-toggle="list" href="/setting/account-general">Your Account Info</a>
                                      <a class="list-group-item list-group-item-action" data-toggle="list" href="/setting/change-password">Change password</a>
                                      <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-notifications">Notifications</a>
                                    </div>
                                  </div>
                            
                              </div>
                           
                            </li>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

</div>

   
<%- include("search") -%>