<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/signup.css">

    <title>Twitter | Sign-up</title>

</head>

<body>
    <div class="loader">
        <img src="/assets/images/twitter-rise.gif" style="border-radius: 50%;" alt="Loading" />
    </div>
    <!-- Modal  -->
    <div class="modal fade" id="signup">
        <div class="modal-dialog mt-6rem">
            <div id="jobImage" class="modal-content rounded">

                <div class="modal-header bg-blue top-radius  d-flex flex-column jcc">
                    <i class="fa-brands fa-twitter twitter-logo"></i>
                    <h3 class="modal-title text-light">Register your account</h3>
                </div>

                <div class="modal-body bg-light">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 d-lg-block d-md-none d-sm-none d-none">
                            <div class="swiper mySwiper w-100 h-100">
                                <div class="swiper-wrapper w-100">
                                    <div class="swiper-slide">
                                        <img src="https://images.indianexpress.com/2022/11/Twitter-Pixabay.jpg?w=640" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img
                                            src="https://www.jornalcontabil.com.br/wp-content/uploads/schema-and-structured-data-for-wp/twitter-1200x675.jpg" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <form action="" class="w-100" method="post">
                                <div class="data">
                                    <div class="user">
                                        <div id="part1">

                                            <!-- <h1 class="txt-center m-20 text-blue">Registration</h1> -->

                                            <div class="d-flex jcc alc p-10 flex-column">

                                                <div class="mb-3 w100">
                                                    <label for="name" class="form-label text-dark">Name</label>
                                                    <input type="text" class="form-control rounded" name="name"
                                                        id="name" placeholder="Enter name" tabindex="1"
                                                        autofocus="true">
                                                </div>
                                                <div class="mb-3 w100">
                                                    <label for="email" class="form-label text-dark">Email
                                                        address</label>
                                                    <input type="email" class="form-control rounded" id="email"
                                                        name="email" tabindex="2" onkeyup="checkuserEmail(this)"
                                                        placeholder="name@example.com">
                                                    <span class="w-100 text-danger fs-14" id="emailError"></span>
                                                </div>

                                                <label for="year" class="form-label w-100 text-dark">Date of
                                                    Birth</label>
                                                <p class="text-gray fs-14 w-100">This will be shown publicly. Confirm
                                                    your own age.</p>
                                                <div class="d-flex jcsb control">
                                                    <div class="w30">
                                                        <select class="form-select rounded" id="year" tabindex="3"
                                                            name="yyyy" onchange="change_year(this)">
                                                        </select>
                                                    </div>
                                                    <div class="w30">
                                                        <select class="form-select rounded" id="month" tabindex="4"
                                                            name="mm" onchange="change_month(this)">
                                                        </select>
                                                    </div>
                                                    <div class="w30">
                                                        <select class="form-select rounded" id="day" tabindex="5"
                                                            name="dd">
                                                        </select>
                                                    </div>
                                                </div>

                                                <span class="w-100 text-danger fs-14" id="yearError"></span>
                                                <div class="w100 control d-flex bottom">
                                                    <input type="button" value="PREVIOUS" class="w-0 d-none" id="prev0">
                                                    <input type="button" value="NEXT" class="w-100 bg-blue text-light"
                                                        id="nextBtn1" tabindex="6">
                                                    <!-- <input type="button" value="SIGNUP" class="w-50 bg-blue text-light" id="signup"> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div id="part2">
                                            <!-- <h1 class="text-blue txt-center m-20 ">Account Details</h1> -->

                                            <div class="d-flex jcc alc p-10 flex-column">
                                                <div class="mb-3 w100">
                                                    <div class="d-flex jcsb">
                                                        <label for="username"
                                                            class="form-label text-dark">Username</label>
                                                        <span class="text-dark" id="usernameLimit">
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control rounded" name="uname"
                                                        onkeyup="checkusername(this)" id="username"
                                                        placeholder="Enter username" autocomplete="new-password"
                                                        tabindex="1">
                                                    <span class="w-100 text-danger fs-14" id="usernameError"></span>
                                                </div>
                                                <div class="mb-3 w100 position-relative">
                                                    <label for="password" class="form-label text-dark">Password</label>
                                                    <div class="position-relative">
                                                        <input type="password" class="form-control rounded"
                                                            id="password" placeholder="Enter password" name="password"
                                                            autocomplete="new-password" tabindex="2">
                                                        <i class="far fa-eye text-secondary" id="togglePassword"></i>
                                                    </div>
                                                    <span class="w-100 text-danger fs-14" id="passError"></span>

                                                </div>
                                                <div class="mb-3 w100 position-relative">
                                                    <label for="password" class="form-label text-dark">Confirm
                                                        Password</label>
                                                    <div class="position-relative">
                                                        <input type="password" class="form-control rounded"
                                                            id="cpassword" placeholder="retype password"
                                                            name="cpassword" autocomplete="new-password" tabindex="3">
                                                    </div>
                                                    <span class="w-100 text-danger fs-14" id="cpassErr"></span>


                                                </div>
                                                <div class="w100 control d-flex bottom">
                                                    <input type="button" value="PREVIOUS" class="w-50" id="prevBtn2"
                                                        tabindex="4">
                                                    <input type="button" value="NEXT" class="w-50 bg-blue text-light"
                                                        id="nextBtn2" tabindex="5" disabled="true"> 
                                                </div>
                                            </div>
                                        </div>
                                        <div id="part3" class="d-none">
                                            <h3 class="text-blue">OTP Verification</h3>
                                            <div class="d-flex jcc alc p-10 flex-column">
                                                <div class="mb-3 w100">
                                                    <div class="mb-3 w100">
                                                        <label for="email" class="form-label text-dark">Email
                                                            address</label>

                                                        <div class="input-group">
                                                            <input type="email" class="form-control mb-0"
                                                                id="emailOTP" name="email" readonly aria-describedby="sendOTP">
                                                            <button class="btn btn-outline-secondary" type="button"
                                                                id="sendOTP">Send OTP</button>
                                                        </div>
                                                        <span class="w-100 text-secondary"></span>

                                                        <span class="timerOtp d-none text-secondary fs-14">You can
                                                            resend OTP after <span id="infoTag"
                                                                class="text-success"></span> seconds</span>
                                                    </div>
                                                    <div class="d-flex jcsb flex-column d-none" id="otpSection">
                                                        <label for="username"
                                                            class="form-label w-100 text-dark">OTP</label>
                                                        <span class="w-100 text-secondary fs-14 mb-2">Check your email
                                                            to get your confirmation code. If you need to request a new
                                                            code, go back and reselect a confirmation.</span>
                                                        <span class="text-dark" id="">
                                                        </span>

                                                        <input type="text" class="form-control rounded" name="uname"
                                                            id="otp" placeholder="Enter OTP from your email"
                                                            autocomplete="new-password" tabindex="1">
                                                    </div>
                                                </div>
                                                <div class="w100 control d-flex bottom">
                                                    <input type="button" value="PREVIOUS" class="w-50" id="prevBtn3"
                                                        tabindex="4">
                                                    <input type="button" value="SIGNUP"
                                                        class="w-50 bg-blue text-light cp" id="nextBtn3" tabindex="5"
                                                        disabled="true">
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>

                <div class="modal-footer bottom-radius py-4">
                    <p class="text-center w-100">Already have an account? <a href="/user-login"
                            class="text-light fw-600">Login now</a></p>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- sweet alert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>

    <script src="/javascripts/signup.js"></script>
</body>

</html>