<%- include("menu") -%>





<%- include("search") -%>

<div class="modal " id="myModal">
    <div class="modal-dialog" id="modal_dialog">
        <div class="modal-content ps-3 pb-2  " id="modal-content_id">
            <!-- form element -->
            <form action="/dashboard" method="post" enctype="multipart/form-data">
                <!-- Modal Header -->
                <div class="d-flex p-2">
                    <button type="button" class="btn-close" onclick="btn_close()"
                        data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="modal_body">
                    <div class="d-flex pt-2">
                        <img src="/assets/images/cover.jpg" alt=""
                            class="profile-size me-2 border ">
                        <textarea placeholder="What's happening?" name="tweet_text"
                            class="text-dark tweet-comment-box" id="twt-area" cols="30" rows="5"
                            maxlength="300"></textarea>
                    </div>
                    <div id="iimg">

                    </div>
                    <!-- <img id="preview-selected-image" class="img-thumbnail mx-auto img-fluid" id="prev_image"/> -->
                </div>
                <div class="d-flex" id="twt_btn_lnk">
                    <div>
                        <a href="#gallery">
                            <!-- <input type="file" name="uploaded_file" id="" class=""> -->
                            <!-- for upload images -->
                            <label for="uploaded_file">
                                <i class="fa-solid fa-camera edit_image_icons rounded-circle p-2  link-hover me-1 border border-3 border-primary"
                                    id="edit_camera_icon">
                                </i>
                            </label>
                            <input type="file" name="cover_image" id="uploaded_file" accept="image/png, image/gif, image/jpeg, .mp4"
                                style="display: none;" onchange="previewImage(event);" multiple>

                            <!-- for upload images end -->
                            <!-- <img src="/assets/images/gallery.png" alt="" height="80%" width="80%"
                                class="profile-size me-1 border border-3 border-primary  link-icon link-hover">-->
                        </a>
                        <!-- <div class="emoji_selector" id="emoji_selector"> -->
                        <a href="#emojis" >
                            <img src="/assets/images/emojis.png" alt="" height="80%" width="80%" id="emojiSelectorIcon" onclick="emoji_clk()"
                                class="profile-size me-1 border border-3 border-primary  link-icon  link-hover" >
                                <emoji-picker  id="emojis_img" style="display:none;" ></emoji-picker>
                        </a>
                    <!-- </div> -->
                    </div>
                    
                    <div>
                        <input type="submit" class="btn btn-primary bg-blue  rounded-pill me-3" id="sub_btn" onclick="sub_btn()" 
                            data-bs-dismiss="modal"></input>
                        <!-- onclick="twt_clk()" -->
                    </div>
            </form>

        </div>

    </div>
</div>
