:root {
    --bg-blue: #1d9bf0;
    --text-blue: #1d9bf0;
    --bg-gray: #eff3f4;
    --bg-light-gray: #f7f9f9;
    --text-gray: #909ba4;
    --text-black: #0f1419;
}


.forgetNextBtn{
    background-color: #909ba4;
    border: #909ba4;
    border-radius: 18px;
    width: 400px;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    color: #f7f9f9;

}
