:root {
    /* --dark: #FF8B13;
    --lite:#ECECEC;
    --white: #F8CBA6; */
    --dark: #222831;
    --lite: #393E46;
    --white: #EEEEEE;
    --cyan: #4AE3B5;
    --blue: #649DAD;
    --border-radius: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
    color: var(--white);
    /* background-image: url("../assets/images/TwitGif_L1.gif");
    object-fit: cover;
    background-repeat: no-repeat; */
}

.white {
    color: var(--white)
}

.lite {
    color: var(--lite)
}

.dark {
    color: var(--dark)
}

.cyan {
    color: var(--cyan)
}

.blue {
    color: var(--blue)
}

.txt-center {
    text-align: center;
}

.m-10 {
    margin: 15px 10px;
}

.m-20 {
    margin: 25px 10px;
}

.p-10 {
    padding: 15px 10px;
}

.d-flex {
    display: flex;
}

.jcc {
    justify-content: center;
}
.jce {
    justify-content: end;
}

.jcsb {
    justify-content: space-between;
}

.jcse {
    justify-content: space-evenly;
}

.alc {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.border {
    border: 1px solid red;
}

.w100,
.control {
    width: 100%;
}

.w95 {
    width: 95%;
}

.w50 {
    width: 50%;
}

.w33 {
    width: 33%;
}

.w30 {
    width: 30%;
}

.mb-15,
.control {
    margin-bottom: 15px;
}

.dib {
    display: inline-block;
}

.user label {
    margin-bottom: 5px;
    display: block;
    color: var(--white)
}

.user input,.user textarea ,
.user select {
    margin-bottom: 5px;
    display: inline-block;
    padding: 7px 10px;
    border-radius: 5px;
    /* border: none;*/
    outline: none; 
    color: var(--dark);
}

.user input[type=radio] {
    margin: 10px;
    margin-left: 0px;
}


body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--lite);
    background-image: url("../assets/images/id.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition:all 0.3s linear ;
}

/* .user{ */
form,.user {
    width: 32vw;
    min-height: 30vh;
    /* background: var(--dark); */
    background: #fff;
    border-radius: var(--border-radius);
    padding: 10px 35px;
    overflow: hidden;
}
.data{
    overflow: hidden;
}
.user{
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    /* width: 400%; */
    padding: 0;
}

.user > div{
    transition: all 1s;
    width: 100%;
    /* position: relative; */
    /* right:0%; */
}

.bottom {
    /* position: absolute;
    bottom: -15px; */
    background: var(--white);
    border-radius: 8px;
    margin-top: 45px;
    margin-bottom: 30px;
    overflow: hidden;
}

.bottom input,
.blue-btn {
    padding: 10px;
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0px;
    /* background: var(--blue); */
    color: var(--white);
    outline:none;
    border: none;
}

.bottom input:nth-child(1) {
    /* background: white; */
    /* background: var(--bg-gray); */
    background: #FFF;
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid var(--text-blue);
    border-right: none;
    color: var(--text-blue)
}
.bottom input:nth-child(2) {
    border-radius: 0 .5rem .5rem 0;
    border: 1px solid var(--text-blue);
    background: var(--text-blue);
    color: #FFF;
}

.modal-dialog {
    min-width: 1167px;
}
.mySwiper img{
    height: 50vh;
    width:100%;
    object-fit: cover;
}

.form-floating input{
    outline: 1px solid var(--text-gray);
    border-radius: 100px !important;
    padding-left: 25px  !important;
    padding-right: 25px  !important;
}

/* vivek  */
.modal-content{
    background: transparent;
}
.bottom-radius{
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background: var(--bg-blue);
    text-align: center;

}
.top-radius{
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background: var(--bg-blue);
    text-align: center;

}
.twitter-logo{
    font-size: 42px;
    margin-bottom: 1rem
}
.swiper-slide{
    display: grid;
    place-items: center;
    height: 100%;
}
.swiper-slide img{
    object-fit: cover;
    /* height: 100%; */
}


#togglePassword,.absolute-input{
    translate: -50% -50%;
    position: absolute;
    right: 0%;
    top: 49%
}


.form-select option{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
    color: var(--dark);
}

.heading{
    text-align: center;
    color: #222831
}


#next,#prev,#submit{
    transition: all 0.5s;
    cursor: pointer;
}

#next[disabled="true"],#submit[disabled="true"]{
    opacity: 0.4;
    cursor: not-allowed;
}