:root{
    --bg-blue: #1d9bf0;
    --text-blue: #1d9bf0;
    --bg-gray: #eff3f4;
    --bg-light-gray: #f7f9f9;
    --text-gray: #909ba4;
    --text-black: #0f1419;
}
a{
    text-decoration: none;
}
.fs-14{
    font-size: 14px;
}
.all-center{
    display: flex;
    justify-content: center;
    align-items:center;
}
.border-radius-12{
    border-radius: 12px;
}
.bg-blue{
    background: var(--bg-blue) ;
}
.bg-gray{
    background: var(--bg-gray) ;
}
.bg-light-gray{
    background: var(--bg-light-gray) ;
}
.text-blue{
    color: var(--text-blue) ;
}

.text-gray{
    color: var(--text-gray)
}
.text-black{
    color: var(--text-black)
}
.wrapper{
    /* min-height: 600px; */
    max-height: 100vh;
    /* overflow: hidden; */
}
.wrapper .container{
    height: 100%;
}

.inner-menu{
    position: relative;
    padding: 5px;
}

.inner-menu ul li{
    margin: 5px 0;
}

.inner-menu ul li:nth-child(1){
    margin: 1px 0;
}

.menu-link{
    text-decoration: none;
    color: var(--text-black);
    font-weight: 400;
}

.menu-ul li{
    padding: 5px 20px 5px 5px;
    border-radius: 50px
}

.active{
    font-weight: 800;
}

.logo-icon{
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
}

.link-icon{
    padding: 10px;
    font-size: 22px;
}

.link-hover:hover{
    background: var(--bg-gray);
    width: fit-content;
}
.logo-icon:hover{
    background: var(--bg-gray);
    width: fit-content
}
.link-hover:hover a,.link-hover a{
    color: var(--text-black)
}

.link-icon ~ span{
    font-size: 20px
}

.btn-tweet{
    font-size: 20px;
    padding: 8px;
    margin-top: 10px
}

.btn-tweet:hover{
    background: #0974c1;
}

.bottom-menu{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.bottom-menu ul li{
    display: flex;
    justify-content: space-between;
    width: 100%
}
.bottom-menu .bottom-pic,.profile-size{
    height: 44px;
    width: 44px;
    border-radius: 50%;
}
.bottom-dots{
    font-size: 4px;
    margin: 0 1px;
}

/* right  */
/* search  */
.search-box input{
   padding: 8px 8px 8px 40px;
   color: var(--text-black);
   background: var(--bg-gray);
   border: 1px solid transparent;
   margin-top: 3px;
   outline: none;
   transition: all 0.6s;
}
.search-box input:hover,.search-box input:active,.search-box input:focus{
   color: var(--text-black);
   background:#FFF;
   border: 1px solid var(--text-blue);
   margin-top: 3px;
}
.search-box .search-icon{
    color: var(--text-gray);
    position: absolute;
    top: 50%;
    left: 20px;
    translate: -50% -50%;
}

.search-box input:hover ~ .search-icon,
.search-box input:active ~ .search-icon,
.search-box input:focus ~ .search-icon{
    color: var(--text-blue)
}

.footer ul.footer-link-container li{
    margin: 5px 5px 0 5px;
    line-height: 15px;
}

.footer ul.footer-link-container li a,.footer a{
    color: var(--text-gray);
    font-size: 13px;
}
.footer ul.footer-link-container li a:hover{
    text-decoration: underline;
}

.left,.right{
    height: 100vh;
    max-height: 100vh;
    position: sticky;
    top: 0px;  
}

     .flw{
        height:500px;
        overflow-y:scroll;
    } 