:root{
    --bg-blue: #1D9BF0;
    --text-blue: #1D9BF0;
    --bg-gray: #EFF3F4;
    --bg-light-gray: #F7F9F9;
    --text-gray: #909BA4;
    --text-black: #0F1419;
    }
    
    .bg-blue{
    background: var(--bg-blue) ;
    }
    .bg-gray{
    background: var(--bg-gray) ;
    }
    .bg-light-gray{
    background: var(--bg-light-gray) ;
    }
    .text-blue{
    color: var(--text-blue) ;
    }
    
    .text-gray{
    color: var(--text-gray)
    }
    .text-black{
    color: var(--text-black)
    }
    
    #