<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <link rel="stylesheet" href="/stylesheets/signup.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>Twitter | Login</title>

</head>

<body>


    <div class="container">
        <div class="row">
            <div class="modal-header bg-blue top-radius  d-flex flex-column jcc">
                <i class="fa-brands fa-twitter twitter-logo"></i>
                <h3 class="modal-title text-light">Sign-In your account</h3>
            </div>
        </div>
        <div class="row modal-body bg-light">
            <div class="col-lg-6 col-12">
                <form action="" class="w-100" method="post">
                    <div class="data">
                        <div class="">
                            <div id="part1">
                                <div class="d-flex jcc alc p-10 flex-column">
                                    <h4 class="text-blue w-100 mb-2">Login</h4>

                                    <div class="mb-3 w100">
                                        <label for="email" class="form-label text-dark">Username or email
                                            address</label>
                                        <input type="text" class="form-control rounded" id="email"  onkeyup="checkemailforlogin(this)"
                                            placeholder="name@example.com" name="email" >
                                            <span class="w-100 text-danger fs-14" id="emailError"></span>
                                    </div>

                                    <div class="mb-3 w100 position-relative">
                                        <label for="password" class="form-label text-dark">Password</label>
                                        <div class="position-relative">
                                            <input type="password" class="form-control rounded" id="password"
                                                placeholder="Enter password" name="password">
                                            <i class="far fa-eye text-secondary" id="togglePassword"></i>
                                        </div>

                                    </div>
                                    <div class="mb-3 w100 position-relative text-center">
                                    <a href="/forget">Forgot Password?</a>

                                    </div>
                                </div>
                                <input type="submit" value="SUBMIT"
                                    class="w100 bg-blue text-light border-0 py-2 rounded" id="login-now">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-lg-6 col-12">
                <div class="swiper mySwiper w-100 h-100">
                    <div class="swiper-wrapper w-100">
                        <div class="swiper-slide">
                            <img src="https://images.indianexpress.com/2022/11/Twitter-Pixabay.jpg?w=640" />
                        </div>
                        <div class="swiper-slide">
                            <img
                                src="https://www.jornalcontabil.com.br/wp-content/uploads/schema-and-structured-data-for-wp/twitter-1200x675.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="modal-footer bottom-radius py-4">
                <p class="text-center w-100 fw-300 ">Don't have an account? <a href="/user/sign-up" class="text-white fw-600">Register
                        here</a></p>
            </div>
        </div>
    </div>

    <!-- Modal  -->
    <!-- <div class="modal" id="signup">
        <div class="modal-dialog">
            <div class="modal-content rounded">

                <div class="modal-header bg-blue top-radius  d-flex flex-column jcc">
                    <i class="fa-brands fa-twitter twitter-logo"></i>
                    <h3 class="modal-title text-light">Sign-In your account</h3>
                </div>

                <div class="modal-body bg-light container">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <form action="" class="w-100">
                                <div class="data">
                                    <div class="">
                                        <div id="part1">
                                            <div class="d-flex jcc alc p-10 flex-column">
                                                <h4 class="text-blue w-100 mb-2">Login</h4>

                                                <div class="mb-3 w100">
                                                    <label for="email" class="form-label text-dark">Username or email
                                                        address</label>
                                                    <input type="text" class="form-control rounded" id="email"
                                                        placeholder="name@example.com">
                                                </div>

                                                <div class="mb-3 w100 position-relative">
                                                    <label for="password" class="form-label text-dark">Password</label>
                                                    <div class="position-relative">
                                                        <input type="password" class="form-control rounded" id="password"
                                                            placeholder="Enter password">
                                                        <i class="far fa-eye" id="togglePassword"></i>
                                                    </div>

                                                </div>
                                            </div>
                                            <input type="submit" value="SUBMIT"
                                                class="w100 bg-blue text-light border-0 py-2 rounded" id="login-now">
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="swiper mySwiper w-100 h-100">
                                <div class="swiper-wrapper w-100">
                                    <div class="swiper-slide">
                                        <img src="https://images.indianexpress.com/2022/11/Twitter-Pixabay.jpg?w=640" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img
                                            src="https://www.jornalcontabil.com.br/wp-content/uploads/schema-and-structured-data-for-wp/twitter-1200x675.jpg" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="modal-footer bottom-radius py-4">
                    <p class="text-center w-100">Don't have an account? <a href="/signup" class="text-light fw-600">Register
                            here</a></p>
                </div>
            </div>
        </div>
    </div> -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->

    <!-- <script src="/javascripts/signup.js"></script> -->
    <script>

        //for stopping the hide modal
        // var myModal = new bootstrap.Modal(document.getElementById('signup'), {
        //     keyboard: false,
        //     backdrop: false
        // })

        // //auto show the modal
        // myModal.show();

        //toggle password
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);

            // toggle the eye slash icon
            if(this.classList.contains('fa-eye-slash')){
                this.classList.remove('fa-eye-slash');
                this.classList.add('fa-eye');
            }else{
                this.classList.remove('fa-eye');
                this.classList.add('fa-eye-slash');
            }
        });

        //swipper
        var swiper = new Swiper(".mySwiper", {
            effect: "fade",
            grabCursor: true,
            cubeEffect: {
                shadow: true,
                slideShadows: true,
                shadowOffset: 20,
                shadowScale: 0.94,
            },
            loop: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
        });
        async function checkemailforlogin(e) {
    let email = e.value

    const save_req = await fetch(`http://localhost:3008/user-login/checkemail`, {
      method: "POST",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        data: e.value

      })
    });

    var resSave = await save_req.json();
    // console.log(resSave.isNew);
    if (resSave.isNew == true) {
      // console.log("i ma he");
      let usermsg = document.getElementById('emailError')
      // console.log(usermsg);
      let content = `<span style="color: #b9370f;">User is not registered </span>`
      usermsg.innerHTML = content
      //count += 1
      return true
    }
    else {
        let usermsg = document.getElementById('emailError')
        let content = `<span style="color: #1c800f;">Available</span>`
      usermsg.innerHTML = content;
      //count -= 1
    //   submitbtn.style.display = 'none';
      return false
    }
  }
    </script>
</body>

</html>