  <!-- right panel  -->
  <div class="col-3 right">
    <div class="inner-right h-100 ">
        <div class="search-box position-relative">
            <input type="search" class="rounded-pill w-100" placeholder="Search Twitter" oninput=search() id="searchInput">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
        <div class="mt-3 follow-right bg-gray p-2 border-radius-12">
            <h5 class="mt-2 mb-3">Related Search</h5>
            <div id="addHere">

            </div>
        </div>
        <div class="mt-3 follow-right bg-gray p-2 border-radius-12">
            <h5 class="mt-2 mb-3">Who to follow</h5>

            <div class="my-4 d-flex justify-content-between align-items-center w-100">
                    <div class="d-flex">
                        <img src="" alt="" class="profile-size me-2 border">
                        <div class="info">
                            <h6>Bhavesh Rathod</h6>
                            <span class="text-gray">@BH836sas</span>
                        </div>
                    </div>
                    <a href="" class="btn btn-dark rounded-pill px-3">Follow</a>
            </div>
            <div class="my-4 d-flex justify-content-between align-items-center w-100">
                    <div class="d-flex">
                        <img src="" alt="" class="profile-size me-2 border">
                        <div class="info">
                            <h6>Bhavesh Rathod</h6>
                            <span class="text-gray">@BH836sas</span>
                        </div>
                    </div>
                    <a href="" class="btn btn-dark rounded-pill px-3">Follow</a>
            </div>
            <div class="my-4 d-flex justify-content-between align-items-center w-100">
                    <div class="d-flex">
                        <img src="" alt="" class="profile-size me-2 border">
                        <div class="info">
                            <h6>Bhavesh Rathod</h6>
                            <span class="text-gray">@BH836sas</span>
                        </div>
                    </div>
                    <a href="" class="btn btn-dark rounded-pill px-3">Follow</a>
            </div>

            <a href="" class="p-2 fs-14 text-blue">Show more</a>
        </div>
        <div class="footer p-2 mt-2">
            <ul class="d-flex flex-wrap list-unstyled footer-link-container mb-0">
                <li>
                    <a href="">Terms and Service</a>
                </li>
                <li>
                    <a href="">Privacy Policy</a>
                </li>
                <li>
                    <a href="">Cookie Policy</a>
                </li>
                <li>
                    <a href="">Accessibility</a>
                </li>
                <li>
                    <a href="">Ads info</a>
                </li>
                <li>
                    <a href="">More ...</a>
                </li>
            </ul>
            <div class="px-2 py-0">
                <a href="">@<span id="footer-year"></span> Twitter_clone, Inc.</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<img src="/public/assets/images/" alt="">



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>
<script>
  
//for print latest year
document.querySelector("#footer-year").innerText = new Date().getFullYear();
async function search(){
    var val = document.getElementById("searchInput").value;
    let data1 = await fetch(`/srch?val=${val}`)
    let data = await data1.json();
    let user_details = ``;

    for(let i=0;i<data.length;i++){
        user_details+=`
<div class="my-4 d-flex justify-content-between align-items-center w-100">
        <div class="d-flex">
            <img src="${data[i][0].user_image}" alt="" class="profile-size me-2 border">
            <div class="info"> 
                <h6>${data[i][0].name}</h6>
                <span class="text-gray">@${data[i][0].user_name}</span>
            </div>
        </div>
</div>

`
    }

    document.getElementById("addHere").innerHTML=user_details;
}
</script>
</body>

</html>