<div style="z-index:1000000" class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body d-flex flex-column">
          <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#edit_profile">
            Edit Profile
          </button>
          <button type="button" class="btn btn-light" onclick="changePassword()">Change Password</button>
          <button type="button" class="btn btn-light" onclick="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
